body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('images/foto1.jpg');
    /* Aquí va la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    position: relative;
}

.rectangulo-central {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border: 5px solid #8B4513;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.rectangulo-central p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.marcos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    position: relative;
}

.marco {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #8B4513;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.marco img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.marco p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.pagina-interna {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Coloca el contenido al final */
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.boton-volver {
    margin-bottom: 20px;
    /* Espacio inferior del botón */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #8B4513;
    color: #fff;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .marco {
        width: 80px;
        height: 80px;
    }

    .rectangulo-central {
        width: 250px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    .marco {
        width: 60px;
        height: 60px;
    }

    .rectangulo-central {
        width: 200px;
        height: 80px;
    }

    .rectangulo-central p {
        font-size: 16px;
    }

    .marco p {
        font-size: 12px;
    }
}